---
app:
    env: "develop"
    debug: true
    port: "3100"
    cache: "redis"
    cache_enabled: true
    cache_duration: 300
loket:
    url: "http://api.sandbox.loket.com"
    key: "sandbox-TgkDRgyHuRcz5P9aksfTsBqu1GQ49Va0"
    username: "mataharimall"
    password: "mataharimall23"
mysql:
    master:
        host: "mysqlserver:3306"
        login: "root"
        password: "matahari"
        database: "MMDBv3"
    slave:
        host: "mysqlserver:3306"
        login: "root"
        password: "matahari"
        database: "MMDBv3"
redis:
    master: "redisserver:6379"
    slave: "redisslave:6379"
mongo:
    master: "mongodbserver"
    database: "mataharimall"
---
